@import 'achat'; 

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px; 
    background-color: rgb(9, 9, 49);

    p { color: whitesmoke; margin: 0; }
    a { color: whitesmoke; text-decoration: underline; }
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
    background-color: rgb(226, 225, 225);
    
    height: calc(100vh - 120px); 
    box-sizing: border-box; 
    overflow: hidden;


    .sidebar-caisse {
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
        height: fit-content; 

        h2 { 
            font-size: 1.2rem; 
            color: #2d3436; 
            margin-top: 0; 
        }
    }

    .content-caisse {
            @extend .main-content; // On récupère le style POS de achat.scss
            background-color: transparent !important; // On laisse le gris de main
            padding: 0 !important; // Enlève le padding supplémentaire
            height: 100% !important; // Prend toute la hauteur du grid cell parent
            overflow: hidden; // Prépare le scroll interne pour le tableau
            display: flex;
            flex-direction: column;

        .title-content {
            color: #2d3436;
            margin-top: 0;
            margin-bottom: 20px;
        }

        // On compresse le formulaire pour gagner de la hauteur
        .saisie-achat {
            margin-bottom: 1rem !important; // Réduit la marge avec le tableau
            padding: 15px 25px !important; // Plus fin
        }

        // On rend l'affichage des achats scrollable SI NÉCESSAIRE
        .affichage-achats {
            flex-grow: 1; // Remplit l'espace restant
            overflow-y: auto; // Crée le scroll interne si la liste est longue
            padding: 15px 20px !important; // Plus fin
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(9, 9, 49);
    p { color: whitesmoke; margin: 0; }
}